h4, h5, h6, h1, h2, h3 {
    margin: 0;
}
ul, ol {
    margin: 0;
}
p {
    margin: 0;
}
html, body {
    font-family: 'Hind', sans-serif;
    font-size: 100%;
    background: #000;
}
a {
    text-decoration: none;
}
.relative {
    position: relative;
}
.word-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}
.word-wrap-line2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.word-wrap-line3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.word-wrap-line5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.header {
    background: #fff;
}
.color-fff {
    color: #fff;
}
a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none;
}
/*--top header start here--*/

.top-social ul {
    padding: 0em;
    list-style: none;
}
.top-social ul li {
    display: inline-block;
    margin-right: 1em;
}
.top-social ul li a span {
    /*background: url(../images/top-social.png)no-repeat;*/
    width: 18px;
    height: 18px;
    display: inline-block;
    color: #fff;
}
.top-social ul li h5 {
    font-size: 1em;
    color: #fff;
}
.header-address ul {
    padding: 0em;
    list-style: none;
}
.header-address ul li {
    display: inline-block;
}
.header-address ul li a {
    display: inline;
    padding: 0 20px;
}
.header-address ul li a:hover {
    color: #fff;
}
.header-address ul li:nth-child(2) a {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.top-header {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    background: #0a2b66;
    position: relative;
    z-index: 10000;
}
.header-address h6 {
    font-size: 1em;
    color: #fff;
    display: inline-block;
}
.text-language {
    color: #8fbaff;
    position: relative;
    top: -2px;
    cursor: pointer;
}
.icon-bottom {
    color: #8fbaff;
    position: relative;
    top: 1px;
    cursor: pointer;
}
/*顶部搜索*/

.form-wrap {
    width: 256px;
    height: 28px;
}
.form-wrap .search-input {
    width: 220px;
    height: 28px;
    outline: 0;
    border: 0;
    text-indent: 9px;
}
.form-wrap .btn-search {
    width: 28px;
    height: 28px;
    background: #ff7300;
    color: #fff;
    border: 0;
    outline: 0;
    line-height: 28px;
    position: relative;
    left: -4px;
    top: 2px;
}
/*语言下拉框*/

.top-social .language-wrap {
    width: 174px;
    background: rgba(10, 43, 102, .9);
    color: #fff;
    line-height: 40px;
    padding: 10px;
    box-shadow: 0 0 1px 1px #031941;
    position: absolute;
    top: 28px;
    left: 0px;
    z-index: 10000;
    display: none;
}
.top-social .language-wrap li {
    display: block;
    text-align: left;
    margin-right: 0;
}
.top-social .language-wrap li a {
    color: #fff;
    display: block;
}
.header-address {
    text-align: left;
}
.header-address ul li a {
    font-size: 1em;
    color: #fff;
}
.header-address ul li a:hover {
    color: #000;
}
.top-social {
    padding: 0px;
    text-align: right;
}
.header-address {
    padding: 0px;
}
/*--header menu nav start--*/

div#navbar {
    text-align: center;
}
.navbar-wrapper {
    height: 85px;
    margin-top: 0px !important;
    background: url("../images/nav-bg.png") repeat center 0;
    padding: 16px 0;
}
/*移动的包含的*/

.mobile-wrap {
    display: none;
}
/*移动端logo*/

.mobile-logo-wrap {
    float: left;
}
.mobile-logo-wrap .mobile-logo {
    width: 120px;
    position: relative;
    top: -16px;
    left: 0px;
    z-index: 1001;
}
/*移动的搜索*/

.search-wrap {
    float: right;
    padding: 6px 4px;
}
.search-wrap a {
    display: block;
}
.search-wrap .icon-search {
    width: 20px;
    height: 20px;
}
/*移动端选择语言*/

.mobile-language-wrap {
    float: left;
    color: #8fbaff;
}
.mobile-language-wrap .mobile-language-textcont {
    position: relative;
    top: 7px;
    margin-left: 10px;
}
.mobile-language-wrap .mobile-language-list {
    list-style: none;
    padding: 34px 0 34px 27px;
    position: absolute;
    width: 226px;
    top: 49px;
    left: -15px;
    line-height: 45px;
    background: #092152;
    box-shadow: 1px 1px 25px 1px #060c4c;
    z-index: 1000;
    display: none;
}
.mobile-language-wrap .mobile-language-list a {
    color: #8fbaff;
    padding: 7px 40px;
    border-radius: 20px;
}
.mobile-language-wrap .mobile-language-list a.active {
    background: #fff;
    color: #01123f;
}
/*移动端下拉菜单*/

.mobile-navlist {
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    background: #092152;
    z-index: 1000;
    line-height: 45px;
    list-style: none;
    text-align: center;
    padding: 15px 0px;
    display: none;
}
.mobile-navlist a {
    color: #8fbaff;
}
.navbar-nav.nav-left {
    float: left !important;
    margin-top: 0em;
}
.navbar-nav.nav-right {
    float: right !important;
    margin-top: 0em;
}
.navbar {
    margin-bottom: 0px !important;
    min-height: 0px !important;
    z-index: 100;
}
.logo-wrap {
    float: left;
    height: 0px !important;
    padding: 0px !important;
}
.nav>li>a {
    margin: 0px 3px !important;
    color: #8fbaff;
    font-size: 13px;
    display: inline-block;
    outline: none;
    text-decoration: none;
}
.navbar-brand>img {
    width: 180px;
    height: 135px;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -90px;
}
.nav a:hover, .nav a:focus {
    outline: none;
    color: #3d87ff;
    background: none;
}
/*--header end here--*/

.block {
    display: block;
}
@media(max-width:1200px){

.navbar-wrapper{
    height:65px;
    padding:7px 0;
}
.navbar-brand > img{
    width:120px;
    height:90px;
    position:absolute;
    top:-8px;
    left:50%;
    margin-left:-60px;
}
}
@media(max-width:992px) {
    .top-social {
        float: left;
        width: 50%;
        padding: 0px;
    }
    .header-address {
        float: left;
        width: 50%;
        padding: 0px;
    }
    .navbar-wrapper {
        padding: 16px 0;
    }
    .navbar-brand>img {
        display: none;
    }
    .navbar-toggle {
        margin-top: 0px !important;
        margin-right: 8px !important;
        margin-bottom: 0px !important;
    }
    .navbar-nav {
        float: none !important;
    }
    .nav>li>a {
        padding: 7px;
    }
}
@media(max-width:768px) {
    .mobile-wrap {
        display: block;
    }
    .top-header {
        display: none;
    }
    .pcnavlist {
        display: none;
    }
    .navbar-toggle .icon-bar {
        background: #8fbaff;
    }
    .navbar-wrapper .container {
        padding: 0;
    }
}