
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1533887891253'); /* IE9*/
  src: url('iconfont.eot?t=1533887891253#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1533887891253') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1533887891253#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-msnui-down-arrow-round:before { content: "\2302"; }

.icon-dianzan:before { content: "\2303"; }

.icon-iconfonti:before { content: "\2301"; }

.icon-fenxiang:before { content: "\2304"; }

